<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--MemcachedHost服务器地址,可以添加多个服务器通过;分隔-->
      <!--<add key="MemcachedHost" value="127.0.0.1:11211" />-->
      <add key="MemcachedHost" value="116.55.248.182:11211" />
    </appSettings>
</configuration>